---
import Tag from "../Tag.astro";
import { Icon } from "astro-icon";

interface Props {
	page: string;
	title: string;
	pronounciation?: string;
	tags?: string[];
}
const { page, title, pronounciation, tags } = Astro.props;

const Element = page === "definition" ? "dt" : "h2";
---

<div class="flex flex-col gap-y-6 py-6">
	<div class="flex gap-x-4 items-center">
		<Element class={`text-entry font-header text-light-${page}-ternary`}>{title}</Element>
		{
			pronounciation && (
				<div class="flex gap-2 items-center">
					<span class={`p-2 bg-light-${page}-background rounded-full hover:bg-light-${page}-hover transition-colors duration-300`}>
						<Icon name="fi-rr-volume" class={`w-5 h-5 fill-light-${page}-secondary`} />
					</span>
					<span class={`text-light-${page}-ternary text-tag`}>/{pronounciation}/</span>
				</div>
			)
		}
	</div>
	<div class="flex gap-2 w-fit">
		{tags.map(tag => <Tag page={page} text={tag} />)}
	</div>
</div>
