---
import Tag from "../Tag.astro";
import { Icon } from "astro-icon";

interface Props {
	page: string;
	title: string;
	pronounciation?: string;
	tags?: string[];
}
const { page, title, pronounciation, tags } = Astro.props;
---

<div class="flex flex-col gap-y-6 py-6">
	<div class="flex gap-x-4 items-center">
		{page == "definition" ? <dt class={`text-entry font-header text-${page}-ternary`}>{title}</dt> : <span class={`text-entry font-header text-${page}-ternary`}>{title}</span>}
		{
			pronounciation != null && (
				<div class="flex gap-2 items-center">
					<span class={`p-2 bg-${page}-background rounded-full hover:bg-${page}-hover transition-colors duration-300`}>
						<Icon name="volume" class={`w-5 h-5 fill-${page}-secondary`} />
					</span>
					<span class={`text-${page}-ternary text-tag`}>/{pronounciation}/</span>
				</div>
			)
		}
	</div>
	<div class="flex gap-2 w-fit">
		{tags.map(tag => <Tag page={page} text={tag} />)}
	</div>
</div>
