---
import Tag from "../Tag.astro";
import { Icon } from "astro-icon";

interface Props {
	page: string;
	title: string;
	pronounciation?: string;
	tags?: Array<String> | string[];
	subtitle?: boolean;
	hidden?: boolean;
}
const { page, title, pronounciation, tags, subtitle, hidden } = Astro.props;
---

<div class={`flex flex-col mb-6 ${hidden && " sr-only"}`}>
	<div class="flex gap-x-4 items-center">
		{
			subtitle == null || subtitle === false ? (
				<h1 class={`text-entry font-header text-${page}-ternary transition-colors`}>{title}</h1>
			) : (
				<h2 class={`text-4xl font-header text-${page}-ternary transition-colors`}>{title}</h2>
			)
		}
		{
			pronounciation != null && (
				<div class="flex gap-2 items-center">
					<span class={`p-2 bg-${page}-background rounded-full hover:bg-${page}-hover transition-colors `}>
						<Icon name="volume" class={`w-5 h-5 fill-${page}-secondary`} />
					</span>
					<span class={`text-${page}-ternary text-tag`}>/{pronounciation}/</span>
				</div>
			)
		}
	</div>
	{
		tags != null && tags && (
			<div class="flex gap-2 w-fit mt-4">
				{tags.map(tag => (
					<Tag page={page} text={tag} />
				))}
			</div>
		)
	}
</div>
