---
export interface Props {
    page?: string;
    customClass?: string;
}

const { page, customClass } = Astro.props;
const linkClass = [page ? `hover:text-${page}-ternary` : "hover:text-ternary", "underline transition-colors"];
---

<footer
    class:list={[
        customClass,
        page ? `text-${page}-primary border-${page}-border` : "text-primary border-border",
        "flex w-full justify-between items-center text-footer text-center px-4 h-24 md:h-8 border-t",
    ]}
>
    <a href={import.meta.env.FORM_URL} class:list={linkClass}>Formulaire de requête</a>
    <a href="/mentions-legales" class:list={linkClass}>Mentions légales</a>
    <span>Réalisé par Alexis De Chiara</span>
</footer>
