---
import { Icon } from "astro-icon";

export interface Props {
    page: string;
    icon: string;
    header: string;
    paragraph: string;
    counter?: number;
}

const { page, icon, header, paragraph, counter } = Astro.props;
---

<div class={`relative h-screen w-screen bg-${page}-background flex justify-center items-center snap-center`} id={page}>
    {
        counter && (
            <nav class="absolute right-2 grid h-1/3 md:right-16">
                <a
                    href="#definition"
                    class:list={[
                        counter >= 1 ? `bg-${page}-primary` : `bg-${page}-border`,
                        "cursor-pointer list-none w-4 h-4 rounded-full",
                    ]}
                />
                <a
                    href="#etymology"
                    class:list={[
                        counter >= 2 ? `bg-${page}-primary` : `bg-${page}-border`,
                        "cursor-pointer list-none w-4 h-4 rounded-full",
                    ]}
                />
                <a
                    href="#explanation"
                    class:list={[
                        counter >= 3 ? `bg-${page}-primary` : `bg-${page}-border`,
                        "cursor-pointer list-none w-4 h-4 rounded-full",
                    ]}
                />
                <a
                    href="#relation"
                    class:list={[
                        counter >= 4 ? `bg-${page}-primary` : `bg-${page}-border`,
                        "cursor-pointer list-none w-4 h-4 rounded-full",
                    ]}
                />
            </nav>
        )
    }
    <div class:list={[counter && "-ml-2 md:-ml-16", "flex flex-col justify-center gap-2 md:gap-6 max-w-min"]}>
        <div class={`flex text-${page}-primary w-fit gap-4 items-center`}>
            <Icon name={icon} class={`w-7 md:w-20 fill-${page}-primary`} />
            <h2 class="font-header text-4xl md:text-8xl">{header}</h2>
        </div>
        <p
            class={`text-lg font-semibold md:text-presentation-paragraph text-justify flex items-center w-full text-${page}-primary`}
        >
            {paragraph}
        </p>
    </div>
</div>
