---
const { slug } = Astro.params;

import Layout from "../../layouts/Layout.astro";
import Content from "../../layouts/Content.astro";
import ContentHeader from "../../components/Content/ContentHeader.astro";
import { Icon } from "astro-icon";

const page = "definition";

const contents = [
	{
		title: "Geek",
		tags: ["Nom commun", "Masculin", "Angliscisme"],
		pronounciation: "gik",
		sens: [
			{
				definition:
					"Personne passionnée par les nouvelles technologies (informatique, jeux vidéo, robotique, intelligence artificielle, etc.), les sciences et les univers imaginaires (BD, comics, manga, anime, séries, films, jeux de rôle, etc.), principalement autour de la science-fiction et de la culture pop, que l'on pourrait regrouper sous le nom de culture geek.",
				example:
					"Mon ami est un véritable geek. Il passe des heures à jouer à toutes sortes de jeux, depuis les classiques de l'enfance jusqu'aux dernières sorties en réalité virtuelle.",
			},
		],
	},
];
---

<Layout title={"Le dico du geek | " + slug}>
	<Content page={page}>
		{
			contents.map(content => (
				<dl class="mb-8">
					<ContentHeader page={page} title={content.title} pronounciation={content.pronounciation} tags={content.tags} />
					{content.sens.map(sens => (
						<div class="flex flex-col mb-16 gap-y-6">
							<dd class="text-light-definition-primary dark:text-dark-definition-primary text-paragraph">{sens.definition}</dd>
							<div class="relative p-4 pr-8 rounded border-l-4 border-light-definition-ternary text-light-definition-secondary bg-light-definition-background">
								<h3 class="text-lg font-bold pb-2"> Exemple </h3>
								<p class="italic tracking-tight">{sens.example}</p>
								<a
									href="./explication"
									class="flex w-fit items-center ml-auto justify-end gap-x-2 font-semibold cursor-pointer hover:text-light-definition-primary transition-colors duration-300 group">
									Voir plus
									<Icon name="arrow-right" class="w-4 h-4 fill-light-definition-secondary group-hover:fill-light-definition-primary" />
								</a>
							</div>
						</div>
					))}
				</dl>
			))
		}
	</Content>
</Layout>
