---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

import DarkModeSwitch from "../components/Settings/DarkModeSwitch.astro";
import ThemeSwitch from "../components/Settings/ThemeSwitch.astro";
import TextSettings from "../components/Settings/TextSettings.astro";

export interface Props {
    page: string;
}

const { page } = Astro.props;
---

<Header />
<main class={`flex border-t border-${page}-border w-full h-full grow relative`}>
    <aside
        class={`fixed bottom-0 bg-base z-40 inset-x-0 w-full p-4 lg:relative lg:flex lg:flex-col lg:w-min border-t lg:border-t-0 lg:border-r border-${page}-border items-center lg:pt-8 justify-between`}
    >
        <nav class="flex w-full grow gap-4 lg:flex-col">
            <Nav text="Définition" link="./definition" icon="search-alt" page={page} selected={page === "definition"} />
            <Nav
                text="Étymologie"
                link="./etymologie"
                icon="hourglass-end"
                page={page}
                selected={page === "etymology"}
            />
            <Nav text="Explication" link="./explication" icon="edit" page={page} selected={page === "explanation"} />
            <Nav text="Relation" link="./relation" icon="link" page={page} selected={page === "relation"} />
        </nav>
        <div class="sticky inset-x-4 bottom-4 hidden w-max flex-col items-center gap-y-1 lg:flex">
            <TextSettings page={page} />
            <ThemeSwitch page={page} />
            <DarkModeSwitch page={page} />
        </div>
    </aside>
    <div class="flex grow flex-col">
        <section id="content" class="flex h-full w-full grow flex-col p-4 md:p-8 lg:p-16 lg:pt-8">
            <slot />
        </section>
        <Footer page={page} customClass="mb-20 md:mb-0" />
    </div>
</main>
