---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Select from "../components/Select.astro";

export interface Props {
	page: string;
}

const { page } = Astro.props;
---

<div class="">
	<Header />
	<main class={`flex grow border-t border-light-${page}-border dark:border-dark-${page}-border w-full h-screen`}>
		<aside class={`w-[250px] h-full border-r border-light-${page}-border dark:border-dark-${page}-border flex flex-col items-center pt-8 px-4 gap-y-4`}>
			<Select text="Définition" link="./definition" icon="fi-rr-search-alt" page={page} selected={page === "definition"} />
			<Select text="Histoire" link="./histoire" icon="fi-rr-hourglass-end" page={page} selected={page === "lore"} />
			<Select text="Exemples" link="./exemples" icon="fi-rr-edit" page={page} selected={page === "examples"} />
			<Select text="statistiques" link="./statistiques" icon="fi-rr-stats" page={page} selected={page === "statistics"} />
		</aside>
		<article class="flex flex-col h-full w-full grow">
			<div class="grow p-8 pr-16 pt-4">
				<slot />
			</div>
			<Footer page={page} />
		</article>
	</main>
</div>
