---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Select from "../components/Select.astro";

export interface Props {
	page: string;
}

const { page } = Astro.props;
---

<Header />
<main class={`flex border-t border-light-${page}-border dark:border-dark-${page}-border w-full h-full grow`}>
	<aside class={`flex flex-col w-[250px] border-r border-light-${page}-border dark:border-dark-${page}-border items-center pt-8 px-4`}>
		<div class="flex flex-col gap-y-4 grow">
			<Select text="Définition" link="./definition" icon="fi-rr-search-alt" page={page} selected={page === "definition"} />
			<Select text="Histoire" link="./histoire" icon="fi-rr-hourglass-end" page={page} selected={page === "lore"} />
			<Select text="Exemples" link="./exemples" icon="fi-rr-edit" page={page} selected={page === "examples"} />
			<Select text="statistiques" link="./statistiques" icon="fi-rr-stats" page={page} selected={page === "statistics"} />
		</div>
	</aside>
	<div class="flex flex-col grow">
		<section class="flex flex-col grow p-16 pt-4 h-full w-full">
			<slot />
		</section>
		<Footer page={page} />
	</div>
</main>
