---
import { Icon } from "astro-icon";

export interface Props {
	page: string;
	label: string;
	name: string;
	value: string;
	icon?: string;
	isChecked?: boolean;
	serif?: boolean;
}

const { page, label, name, value, isChecked, icon, serif } = Astro.props;
---

<div>
	<input type="radio" name={name} id={value} value={value} class="peer hidden" checked={isChecked} />
	<label
		for={value}
		class:list={[
			serif ? "font-serif" : "font-sans",
			`cursor-pointer flex justify-center gap-1 px-2 py-1 fill-${page}-primary peer-checked:dark:fill-${page}-background text-${page}-primary peer-checked:bg-base peer-checked:dark:bg-${page}-primary peer-checked:dark:text-${page}-background rounded-md peer-checked:shadow-sm font-medium text-xs`,
		]}>
		{icon != null && <Icon name={icon} class="w-3.5" />}
		{label}
	</label>
</div>
