---
export interface Props {
	page: string;
}

const { page } = Astro.props;
---

<div class={`flex w-full rounded-lg bg-${page}-background py-1.5 px-2 h-9`}>
	<button
		class={`cursor-pointer flex grow justify-center items-center align-middle gap-1 px-2 text-${page}-primary dark:text-${page}-background bg-base dark:bg-${page}-primary rounded-md shadow-sm text-lg font-bold active:shadow-none`}
		id="decrement">-</button
	>
	<span class=`flex px-4 text-${page}-primary font-semibold align-middle justify-center items-center w-16` id="textSizeDisplayed">1</span>
	<button
		class={`cursor-pointer flex grow justify-center items-center align-middle gap-1 px-2 text-${page}-primary dark:text-${page}-background bg-base dark:bg-${page}-primary rounded-md shadow-sm text-lg font-bold active:shadow-none`}
		id="increment">+</button
	>
</div>

<script>
	let value: number = "fontSize" in localStorage ? Number(localStorage.fontSize) : 1;
	document.getElementById("decrement").addEventListener("click", decrement);
	document.getElementById("increment").addEventListener("click", increment);

	if ("fontSize" in localStorage) {
		changeTextSize(Number(localStorage.fontSize));
	}

	function decrement() {
		if (value - 0.125 < 0.5) {
			value = value;
		} else if (value < 1.5) {
			value = value - 0.125;
		} else if (value < 2) {
			value = value - 0.25;
		} else if (value < 3) {
			value = value - 0.5;
		} else {
			value--;
		}
		localStorage.fontSize = value;
		changeTextSize(localStorage.fontSize);
	}
	function increment() {
		if (value < 1.5) {
			value = value + 0.125;
		} else if (value < 2) {
			value = value + 0.25;
		} else if (value < 3) {
			value = value + 0.5;
		} else {
			value++;
		}
		localStorage.fontSize = value;
		changeTextSize(localStorage.fontSize);
	}

	function changeTextSize(size: number) {
		document.getElementById("textSizeDisplayed").innerText = String(Number(size));
		document.querySelectorAll<HTMLElement>(".prose *").forEach(element => {
			element.style.fontSize = size + "rem";
			element.style.lineHeight = Number(0.25) + Number(size) + "rem";
			if (element.nodeName == "H3") {
				element.style.fontSize = Number(1.25 * size) + Number(size) + "rem";
			} else if (element.nodeName == "H4") {
				element.style.fontSize = Number(0.5 * size) + Number(size) + "rem";
			}
		});
	}
</script>
